
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<div class="contact">
    <div class="wrap">
        <div class="form" style="padding-top:20px">
            <form class="cmxform" id="contactForm" method="post">
                <div>
                    <div>
                        <input type="text" class="textbox" value="AdSoyad" name="AdSoyad">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Mail" name="Mail">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Konu" name="Konu">
                    </div>
                </div>

                <div class="form1"style="margin-left:400px; margin-top:-200px;">
                    <div>
                        <textarea value="Mesaj" name="Mesaj">Mesaj</textarea>
                    </div>
                </div>


                <div>
                    <p><span class="read">Submit</span></p>
                </div>
            </form>
        </div>

        <div class="clear"></div>
        <div class="contact-bottom">
            <div class="contact-left">
                <div class="contact-add">
                    <h3>Address One</h3>
                    <p> insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
                    <p>Telephone:1-22-5555</p>
                    <p>Fax:1-22-5555</p>
                    <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                </div>
                <div class="contact-add">
                    <h3>Address Two</h3>
                    <p>Telephone:1-22-5555</p>
                    <p>Fax:1-22-5555</p>
                    <p>Email:<a href="mailto:signup@gmail.com">signup@mail.com</a></p>
                </div>
            </div>
            <div class="contact-map">
                <iframe width="580" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #555;text-align:left">View Larger Map</a></small>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>




